.shuffle-parent{display:inline-block;white-space:normal;will-change:transform;line-height:.86}
.shuffle-char{display:inline-block;line-height:1;text-align:center}
h1 .shuffle-parent{font:inherit;color:inherit;text-transform:uppercase}
